body {
  font-family: sans-serif;
  /* display: flex */
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-family: monospace;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: monospace;
  font-size: x-large;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 270px;
  height: 270px;
  object-fit: contain;
  padding: 10px;
  background-color: transparent;
}

.productlist {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: 25%;
}
.product2 {
  display: flex;
  flex-direction: row;
  font-family: cursive;
  border: 5px solid lightgray;
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: 90%;
}
.product3 {
  display: flex;
  flex-direction: row;
  font-family: cursive;
  /* border: 5px solid lightgray; */
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: auto;
}
.product4 {
  display: flex;
  flex-direction: column;
  font-family: cursive;
  /* border: 5px solid lightgray; */
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: 50%;
}

h1 {
  font-family: monospace;
  color: #e63946;
  text-align: center;
}

h3,
h4 {
  text-align: center;
}

.production {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid lightgray;
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: 85%;
}

.item {
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
  padding: 10px;
  margin: 10px;
  align-items: center;
  width: 25%;
}
.box {
  display: flex;
  border: 5px solid red;

  justify-items: space-between;
  flex-direction: column;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
}
.card .card-image .card-title {
  display: flex;
  color: black;
  font-weight: 400;
  flex: 1;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  max-width: max-content;
}

.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}

.nav {
  background-color: #a8dadc;
}

.allproducts {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #1d3557;
  justify-content: end;
  margin: 10px;
}
span {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
