body {
  font-family: sans-serif;
  /* display: flex */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 150px;
  object-fit: contain;
  padding: 10px;
  background-color: transparent;
}

.productlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: 25%;
}
.production {
  display: flex;
  flex-direction: row;
  border: 5px solid lightgray;
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: 85%;
}

/*  */

.item {
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
  padding: 10px;
  margin: 10px;
  align-items: center;
  width: 25%;
}
.box {
  display: flex;
  border: 5px solid red;

  justify-items: space-between;
  flex-direction: column;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
}
.card .card-image .card-title {
  display: flex;
  color: black;
  font-weight: 400;
  flex: 1;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}

.nav {
  background-color: #a8dadc;
}
