body {
  font-family: sans-serif;
  /* display: flex */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 150px;
  object-fit: contain;
  padding: 10px;
  background-color: transparent;
}

.productlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
  padding: 20px;
  margin: 20px;
  align-items: center;
  width: 25%;
}

h1 {
  color: red;
  text-align: center;
}

h3 {
  text-align: center;
}

.navbar {
  text-align: center;
}
